:root {
  --white: #fff;
  --active: #2196f3;
  --dark-color: #212121;
  --main-color: #757575;
  --gray: rgba(255, 255, 255, 0.6);
  --black: #000000;
  --background-1: #2f303a;
  --background-2: #f5f4fa;
}

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  font-family: 'Roboto', sans-serif;
  color: var(--main-color);
  background-color: var(--white);
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  text-decoration: none;
  color: var(--active);
  letter-spacing: 0.03em;
  margin-right: 93px;
}
.logo-title {
  color: var(--black);
}

.logo-title-2 {
  color: var(--white);
}

.link {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--dark-color);
}

.link.contacts {
  color: var(--main-color);
}

.link:hover,
.link:focus,
.link.current {
  color: var(--active);
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
}

.flexbox {
  display: flex;
}

.page-header {
  justify-content: flex-end;
  align-items: center;
  padding-bottom: 32px;
  padding-top: 32px;
}

.nav {
  align-items: center;
  margin-right: auto;
}

.menu-nav:not(:last-child) {
  margin-right: 50px;
}
.hero {
  color: var(--white);
  text-align: center;
  letter-spacing: 0.06em;
}
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  text-transform: uppercase;
  padding-top: 200px;
  padding-bottom: 30px;
  margin: 0px;
}

.btn {
  color: var(--white);
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  background-color: var(--active);
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  width: 200px;
  height: 50px;
  margin-bottom: 200px;
}

.section {
  padding-top: 95px;
}

.item:not(:last-child) {
  padding-right: 30px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.description {
  width: 270px;
  margin-top: 10px;
  margin-bottom: 0;
}

.section-title {
  color: var(--dark-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  padding-bottom: 50px;
  margin: 0px;
}

.img-list {
  padding-bottom: 95px;
}

.section-item {
  color: var(--dark-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin: 0;
}

.our-team {
  background-color: var(--background-2);
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
}

.foto-team {
  background-color: var(--white);
  width: calc((100% - 3 * 30px) / 4);
}

.foto-team:not(:last-child) {
  margin-right: 30px;
}

.our-team-title {
  font-weight: 500;
  font-size: 16px;
  color: var(--dark-color);
  padding-top: 30px;
  padding-bottom: 10px;
  margin: 0;
}

.position {
  margin: 0;
  padding-bottom: 30px;
}

.dark-bg {
  background-color: var(--background-1);
}

.footer-content .flexbox {
  flex-direction: column;
  padding-top: 60px;
}

.address-title {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
}
.address-list {
  width: 231px;
  height: 81px;
  padding-top: 20px;
  padding-bottom: 60px;
}

.address-link {
  color: var(--white);
  text-decoration: none;
}

.contacts-link {
  color: var(--gray);
  text-decoration: none;
  padding-top: 9px;
}

.portfolio-title {
  font-weight: bold;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.06em;
  color: var(--dark-color);
}

.portfolio-description {
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.03em;
}

.button {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--dark-color);
  background-color: var(--background-2);
  border-radius: 4px;
  border-style: none;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.button:hover,
.button:focus,
.button.current {
  background-color: var(--active);
  color: var(--white);
}
